#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #4e1c1c;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
 .topnav a:hover {
  background-color: #fff;
  color: black;
}

/* Add a color to the active/current link */
.topnav {
  background-color: #ffffff;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.button {
  background-color: #4e1c1c;
  display: inline-flexbox;
  color: #fff;

}

.button:hover{
    color: #fff;
}

body{
    background-color: #fff;
    color:#4e1c1c;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    width: 100%
}

h1{
    text-transform: uppercase;
    font-size: 30px;
}

div.container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:right
}

.demo{
    float:right
}
textarea{
    height: 150px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4e1c1c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #4e1c1d;
}

/* Add a background color and some padding around the form */
.connect {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button{
  background-color: #ffffff;
  color: #4e1c1c;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}

.Modals button{
  background-color: #4e1c1c;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 1421px;
  font-size: 18px;
  font-family: 'Alegreya', serif;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 337px;
  height: 502px;
  perspective: 1000px; 
  float: right;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front img {
  background-color: #bbb;
  color: black;
  border-radius: 70%;
}

/* Style the back side */
.flip-card-back {
  background-color: #4e1c1d;
  color: white;
  transform: rotateY(180deg);
}

.icons{
  text-decoration: none;
  font-size: 30px;
  color:inherit;
}
div#linkedin{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

body div.about{
    width: 700px;
    margin:auto;
    padding: 0;
}

body div.flip-card{
    font-size: 15px;
}

.about a{
    color:black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 47%;
}

/* The Close Button */
.close .close1 .close2{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden{
    color:white;
}

p a.glow {
  padding:12px 20px;
  font-size: 20px;
  color: #4e1c1c;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4e1c1c, 0 0 40px #4e1c1c, 0 0 50px #4e1c1c, 0 0 60px #4e1c1c, 0 0 70px #4e1c1c;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #c2a318e0, 0 0 40px #c2a318e0, 0 0 50px #c2a318e0, 0 0 60px #c2a318e0, 0 0 70px #c2a318e0, 0 0 80px #c2a318e0;
  }
}
